
// backdrop for the dialog
.rux-modal-container {
  display: block;
  position: absolute;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  &__hidden {
    display: none;
  }
}

.modal {
  max-width: 100vw;
}

.modal-header {
  color: #000;
}

.modal-footer {
  margin: 1rem;
}
